- user = @notification.user
- category = @notification.category

= raw t('.ol_user', user: (user.name))
br/
br/
= raw t('.novidades_dessa_semana_na', category: (category.name_pt))
br/
br/
- category.projects.of_current_week.with_state('online').each do |project|
  |#{link_to(project.name, project_by_slug_url(permalink: project.permalink, ref: 'notificacao_subscription_category'))}
  br
  |#{project.headline}
  br
  br
br/
br/
= raw t('.um_abra_o')
br/
| #{ENV['COMPANY_NAME']}
br/
br/
| #{link_to 'Descadastrar', unsubscribe_category_url(category), target:'__blank'} o recebimento de projetos recentes dessa categoria.
