- contribution = @notification.contribution

= raw t('.ol_contribution', contribution: (contribution.user.name))
br
br
= raw t('.infelizmente_o_projeto_link', link_to: (link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))))
= raw t('.que_voc_apoiou_n', ENV: (ENV['COMPANY_NAME']))
br
br
= raw t('.como_o_seu_pagamento')
br
br
= raw t('.como_o_seu_apoio')
=> raw t('.link_to_para', link_to: (link_to raw t('.dados_banc_rios'), settings_user_url(contribution.user)))
br
br
= raw t('.assim_que_o_reembolso')
br/
br/
= raw t('.se_ficou_com_alguma', mail_to: (mail_to ENV['EMAIL_CONTACT']))
br/
| #{contribution.payment_id}
br
br
= raw t('.um_abra_o')
br
= ENV['COMPANY_NAME']