- contribution = @notification.contribution

= raw t('.ol_contribution', contribution: (contribution.user.name))
br
br
= raw t('.infelizmente_o_projeto_link', link_to: (link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))), ENV1: (ENV['COMPANY_NAME']))
br
br
= raw t('.como_seu_apoio_foi')
br
br
= raw t('.se_ficou_com_alguma', mail_to: (mail_to ENV['EMAIL_CONTACT']))
= raw t('.e_nos_informe_a', contribution: (contribution.payment_id))
br
br
= raw t('.um_abra_o')
br
= raw t('.env', ENV: (ENV['COMPANY_NAME']))