- contribution = @notification.contribution
= raw t('.projeto_contribution', contribution: (contribution.project.name))
br
= raw t('.chave_contribution', contribution: (contribution.key))
br
= raw t('.criado_em_contribution', contribution: (contribution.created_at))
br
= raw t('.confirmado_em_contribution', contribution: (contribution.confirmed_at))