- contribution = @notification.contribution
= raw t('.projeto_contribution', contribution: (contribution.project.name))
br/
= raw t('.chave_do_apoio_contribution', contribution: (contribution.key))
br/
= raw t('.id_meio_de_pagamento', contribution: (contribution.payment_id))
br/
br/
= raw t('.esse_apoio_recebeu_uma')
br/
= raw t('.verifique_no_site_do')