- user = @notification.user
= raw t('.ol_strong_user_strong', user: (user.display_name))
br
br
= raw t('.vimos_aqui_que_voc', user: (user.credits))
br
br
= raw t('.abaixo_selecionamos_algumas_sugest')
br
br
-user.recommended_projects.limiraw t(3).each do |project|
  |#{link_to(project.name, "#{ENV['BASE_URL']}/projects/#{project.to_param}")}
  br
  |#{project.headline}
  br
  br
br
br
= raw t('.pra_n_o_ficar')
br
br
= raw t('.2_clicar_em_quero')
br
= raw t('.3_colocar_o_valor')
br
= raw t('.4_clicar_no_bot')
br
| 5 - Pronto! Seu apoio será confirmado =)
br
br
= raw t('.caso_prefira_voc_pode', link_to: (link_to(raw t('.aqui'), "#{ENV['BASE_URL']), user1: (user.to_param), link_to2: (link_to(raw t('.nesse_artigo'), 'http://suporte.catarse.me/hc/pt-br/articles/202365507-Regras-e-funcionamento-dos-reembolsos-estornos')))
br
br
= raw t('.se_tiver_alguma_outra')
br
br
= raw t('.um_grande_abra_o')
= raw t('.equipe_do_catarse')