- user = @notification.user

= t('.oi_user', user: (user.name))
br/
br/
= t('.para_podermos_simplificar_ainda')
=> t('.a_partir_de_10', link_to: (link_to t('.n_o_existir_o'), 'http://blog.catarse.me/simplificacao-dos-reembolsos-e-o-fim-dos-creditos/', target: '__blank'))
br/
br/
= t('.pelo_que_checamos_voc', user: (user.display_credits))
br/
br/
= t('.para_apoiar_um_projeto')
br/
br/
= t('.1_escolher_o_projeto')
br/
= t('.2_clicar_em_apoiar')
br/
= t('.3_colocar_o_valor')
br/
= t('.4_clicar_no_bot')
br/
| 5 - Pronto! Seu apoio será confirmado =)
br/
br/
= t('.strong_dicas_de')
br/
br/
- user.recommended_projects.limit(3).each do |project|
  br/
  |#{project.headline}
  br/
  br/
br/
br/
= t('.caso_voc_n_o')
br/
br/
= t('.se_ficar_com_alguma')
br/
br/
= t('.um_abra_o')
br/
= t('.catarse')