- project = @notification.project
- project_link = edit_project_url(project)
= t('.ol_project_tudo_bem', project: (project.user.name))
br/
br/
= t('.vi_que_voc_criou', link_to: (link_to(project.name, project_link)))
br/
br/
= t('.al_m_de_revisar')
br/
br/
= t('.deseja_enviar_o_link', link_to: (link_to t('.seu_rascunho_de_projeto'), project_link))
br/
br/
= image_tag 'https://s3.amazonaws.com/cdn.catarse/notifications_assets/btn-send-to-analysis.gif', width: 600
br/
br/
strong= t('.lembre_se')
br/
= t('.ap_s_o_envio')
br/
= t('.quando_o_projeto_for')
br/
br/
= t('.se_tem_alguma_d')
br/
br/
= t('.beijo')
br/
strong
  =Luciana t('.masini')
br/
= t('.catalisadora_de_projetos_criativos')
br/
br/
strong 
  = t('.p_s_voc_quer')
br/
= t('.as_dicas_fundamentais_para')
br/
= t('.para_conhecer_todas', link_to: (link_to t('.central_de_suporte'), 'http://suporte.catarse.me/hc/pt-br', target: '__blank'))
br/
= t('.para_se_inspirar', link_to: (link_to t('.historias_de_projetos'), 'http://blog.catarse.me/category/projeto/', target: '__blank'), link_to1: ( link_to t('.dicas_de_campanha'), 'http://blog.catarse.me/category/dicas/', target: '__blank'))
br/
= t('.para_montar_uma', link_to: (link_to t('.guia_dos_realizadores'), guides_url(anchor: 'starting'), target: '__blank'))
br/
= t('.para_entender_o', link_to: (link_to t('.pesquisa_rfcbr'), 'http://pesquisa.catarse.me/', target: '__blank'))
br/
= t('.para_sentir_o', link_to: (link_to t('.apoie_um_projeto'), explore_url, target: '__blank'))