- project = @notification.project
= t('.solicita_o_de_an', project: (project.name))
br/
= t('.frase_de_efeito_project', project: (project.headline))
br/
= t('.tempo_de_preparo_distance', distance_of_time_in_words: (distance_of_time_in_words(project.created_at, project.sent_to_analysis_at)))
br/
br/
strong= t('.sobre_o_projeto')
br/
br/
= t('.link_link_to', link_to: (link_to project_by_slug_url(project.permalink), project_by_slug_url(project.permalink)))
br/
= t('.categoria_link_to', link_to: (link_to project.category, explore_url(anchor: "by_category/#{project.category_id))
br/
= t('.valor_da_meta_number', number_to_currency: (number_to_currency project.goal))
br/
br/
strong= t('.sobre_o_realizador')
br/
br/
= t('.nome_project', project: (project.user.full_name))
br/
= t('.apelido_project', project: (project.user.name))
br/
= t('.email_project', project: (project.user.email))
br/
= t('.telefone_project', project: (project.user.phone_number))
br/
= t('.links')
br/
- project.user.links.each do |link|
  = link.link
  br/
= project.user.facebook_link
br/
= project.user.decorate.twitter_link
br/
= project.user.other_link
br/
= t('.projetos_apoiados_project', project: (project.user.total_contributed_projects))
br/
= t('.projetos_financiados_project', project: (project.user.projects.with_state('successful').count))
br/
= t('.projetos_n_o_financiados', project: (project.user.projects.with_state('failed').count))
br/
= t('.projetos_em_rascunho_project', project: (project.user.projects.with_state('draft').count))
br/
= t('.projetos_em_an_lise', project: (project.user.projects.with_state('in_analysis').count))
br/
= t('.projetos_aprovados_project', project: (project.user.projects.with_state('approved').count))
br/
= t('.projetos_recusados_project', project: (project.user.projects.with_state('rejected').count))