- contribution = @notification.contribution
p= raw t('.hello', name: (contribution.user.display_name))
p
  = raw t('.thank_you_for_supporting', link_to: (link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))))
  = raw t('.next_step')
  
p= raw t('.pay_pal')
br
= raw t('.organizer_paypal_email', email: (contribution.project.paypal_email_address))
br
= raw t('.donation_amount', amount: (number_to_currency contribution.value))
a[class='button' target='_blank' href='https://www.paypal.com/us/webapps/mpp/send-money-online'] Donate now
br
= raw t('.no_pay_pal')
br 
p= raw t('.organizer_will_confirm')
br
br
= raw t('.um_abra_o')
br
= ENV['COMPANY_NAME']