- contribution = @notification.contribution
= raw t('.ol_contribution', contribution: (contribution.user.name))
br
br
= raw t('.voc_iniciou_um_apoio', link_to: (link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink)))
br
br
= raw t('.strong_se_voc')
br
br
= raw t('.strong_se_voc_1')
br
br
= raw t('.lembrando_que_a_chave', contribution: (contribution.payment_id))
br
br
= raw t('.se_ficou_com_alguma', mail_to: (mail_to ENV['EMAIL_CONTACT']))
br
br
= raw t('.um_abra_o')
br
| #{ENV['COMPANY_NAME']}
