- update = @notification.project_post
- user = @notification.user
br/
strong= update.title
== update.email_comment_html
br
br
= raw t('.veja_o_projeto_link', link_to: (link_to update.project.name, project_by_slug_url(permalink: update.project.permalink)))
br/
br/
= raw t('.link_to_o', link_to: (link_to raw t('.descadastrar'), unsubscribe_notifications_user_url(user)))