- project = @notification.project

- project_link = edit_project_url(project)
- company_name = ENV['COMPANY_NAME']

= raw t('.oi_project', project: (project.user.name))
br/
br/
= raw t('.o_prazo_do_projeto', link_to: (link_to project.name, project_link), company_name1: (company_name))
br/
br/
= raw t('.devido_a_prazos_de')
=> raw t('.para_computar_esses_apoios')
=> raw t('.lembre_se_nesse_ponto')
br/
br/
= raw t('.confira_o_que_pode')
br/
br/
= raw t('.strong_1_se')
=> raw t('.vamos_apenas_esperar_o')
= link_to raw t('.repassar_o_valor_arrecadado'), 'http://suporte.catarse.me/hc/pt-br/articles/202037493-Como-ser%C3%A1-feito-o-repasse-do-dinheiro-', target: '__blank' 
br/
br/
= raw t('.strong_2_se')
br/
= raw t('.caso_contr_rio_iniciaremos', link_to: (link_to raw t('.reembolso_dos_seus_apoiadores'), 'http://suporte.catarse.me/hc/pt-br/articles/202365507-Regras-e-funcionamento-dos-reembolsos-estornos', target: '__blank'))
br/
br/
= raw t('.strong_aten_o', link_to: (link_to raw t('.aba_conta_do_painel'), edit_project_url(project, anchor: 'user_settings')))
br/
br/
= image_tag 'https://s3.amazonaws.com/cdn.catarse/notifications_assets/funded-conta.gif', width: 600
br/
br/
= raw t('.se_ficou_com_alguma', mail_to: (mail_to ENV['EMAIL_PROJECTS']))
br/
br/
= raw t('.um_abra_o')
br/
= company_name