- user = @notification.user
= raw t('.ol_user_tudo_bem', user: (user.name))
br
| Sabe quando você acha aquela nota de dinheiro no bolso de uma calça que não usava faz tempo? Pois esse e-mail é pra relembrarmos essa gostosa sensação. =D
br
= raw t('.para_muitos_casos_n', user: (user.contributions.last.payer_email))
br
= raw t('.o_valor_do_apoio', user: (user.contributions.where(state:'requested_refund').sum(:value)))
br
= raw t('.infelizmente_como_seu_apoio')
br
= raw t('.o_s_n_mero')
br
- user.contributions.where(state:'requested_refund').each do |contribution|
  |#{contribution.key}
  br
= raw t('.iremos_fazer_o_dep')
br
= raw t('.espero_que_voc_s')
br
= raw t('.muito_obrigado')
br
= raw t('.diego_reeberg')
br
= raw t('.malabarista_organizacional')