-contribution = @notification.contribution
- company_name = ENV['COMPANY_NAME']
- contact_email = ENV['EMAIL_CONTACT']
= raw t('.ol_strong_contribution_strong', contribution: (contribution.user.display_name))
br
br
= raw t('.seu_reembolso_foi_realizado', link_to: (link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink)))
br
br
= raw t('.a_chave_de_identifica', contribution: (contribution.payment_id))
br
br
= raw t('.se_ficou_com_alguma', mail_to: (mail_to contact_email))
br
br
= raw t('.um_abra_o')
br
| #{company_name}
