- project = @notification.project
- user = @notification.user
- company_name = ENV['COMPANY_NAME']

= raw t('.ol_strong_user_strong', user: (user.display_name))
br
br
= raw t('.este_o_lembrete_de', link_to: (link_to project.name, project_by_slug_url(project.permalink, ref: 'notificacao-reminder')))
br
= raw t('.agora_a_hora_de')
br
br
= raw t('.um_abra_o')
br
| #{company_name}
