- contribution = @notification.contribution

= raw t('.ol_comunidade')
br/
br/
= raw t('.esse_apoio_para_projeto')
br/
br/
= raw t('.usu_rio_contribution', contribution: (contribution.user.display_name))
br/
= raw t('.email_do_usu_rio', contribution: (contribution.user.email))
br/
= raw t('.email_de_pagamento_contribution', contribution: (contribution.payer_email))
br/
= raw t('.nome_de_pagamento_contribution', contribution: (contribution.payer_name))
br/
= raw t('.projeto_contribution', contribution: (contribution.project.name))
br/
= raw t('.chave_do_apoio_contribution', contribution: (contribution.key))
br/
= raw t('.identificador_no_meio_de', contribution: (contribution.payment_id))
br/
= raw t('.valor_do_apoio_contribution', contribution: (contribution.decorate.display_value))
br/
= raw t('.meio_de_pagamento_contribution', contribution: (contribution.payment_method))
br/
= raw t('.forma_de_pagamento_contribution', contribution: (contribution.payment_choice))
br/
= raw t('.data_de_cria_o', contribution: (contribution.created_at))