.footer-full-signature-text.fontsize-small #{t('layouts.footer.titles.contact')}
a.link-footer href="#{jobs_url}"  #{t('layouts.footer.links.jobs')}
a.link-footer href="#{ENV['TWITTER_URL']}"  #{t('layouts.footer.links.twitter')}
a.link-footer href="#{ENV['FACEBOOK_URL']}"  #{t('layouts.footer.links.facebook')}
a.link-footer href="#{ENV['INSTAGRAM_URL']}"  #{t('layouts.footer.links.instagram')}
a.link-footer href="#{ENV['GITHUB_URL']}"  #{t('layouts.footer.links.github')}
a.link-footer href="#{ENV['BLOG_URL']}"  #{t('layouts.footer.links.blog')}

